bin/
obj/
artifacts/
publish/
Release/
Debug/

*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates
TestResults/
*.nupkg

.vs/
.idea/
.vscode/

Thumbs.db
Desktop.ini

*.log
crash.log
debug.log
logs/

*.exe
*.msi
*.iss.tmp

*.tmp
*.temp
*.bak
*.cache
